# Ignore working directories.
/working/
/*/working/

# Ignore build directory.
/build/
/*/build/

# Ignore Windows image file caches.
Thumbs.db
ehthumbs.db

# Ignore Window folder config file.
Desktop.ini